/*公共区域*/
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

/*字体图标*/
@font-face {
    font-family: 'weijinsuo';
    src: url('../font/MiFie-Web-Font.eot?6cyhth');
    src: url('../font/MiFie-Web-Font.eot?6cyhth#iefix') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg?6cyhth#MiFie-Web-Font') format('svg'), url('../font/MiFie-Web-Font.ttf?6cyhth') format('truetype'), url('../font/MiFie-Web-Font.woff?6cyhth') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'weijinsuo' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

.icon-uniE907:before {
    content: "\e907";
}

.icon-uniE903:before {
    content: "\e903";
}

.icon-uniE901:before {
    content: "\e901";
}

.icon-uniE900:before {
    content: "\e900";
}

.icon-uniE904:before {
    content: "\e904";
}

.icon-uniE902:before {
    content: "\e902";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}
.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}
.icon-uniE930:hover {
    color: #df3232;
}

.icon-uniE930:before {
    content: "\e946";
}

.icon-uniE92F:hover {
    color: #e8380d;
}

.icon-uniE92F:before {
    content: "\e92f";
}

.icon-uniE92E:hover {
    color: #ed6f00;
}

.icon-uniE92E:before {
    content: "\e92e";
}


/*头部部分*/
#header {
}

#header > .topbar {
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header > .topbar {
    font-size: 10px;
    color: #888;
}

#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

#header a {
    color: #888;
    text-decoration: none;
    position: relative;
}

#header .btn-itcast {
    color: #fff;
}

#header .mobile-link > img {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 28px;
    z-index: 1001;
}

#header .mobile-link:hover > img {
    display: block;
}

#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    /*水平线对称*/
    vertical-align: middle;
}

#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

/**
*通栏广告轮播
*/

#main_ad {

}

#main_ad > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

/*媒体查询*/
@media (min-width: 768px) {
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}

#main_ad > .carousel-inner > .item > img {
    width: 100%;
}

/*网站特色*/
#tese {
    padding: 40px 0;
    border-bottom: 1px solid #e0e0e0;
}

#tese a {
    color: #333;
    text-decoration: none;
}

#tese a:hover {
    color: #E9232C;
}

#tese a i {
    font-size: 34px;
}

#tese > .container > .row > div {
    margin: 20px 0;
}

/*#tese > .container>.row>div:nth-of-type(2n){*/

/*background-color: #04f;*/
/*}*/

/**
*立即预约
*/

#ljyy {
    border-bottom: 1px solid #c0c0c0;
    padding-top: 20px;
    padding-bottom: 10px;
}

#ljyy > .container > p {
    line-height: 20px;
    font-size: 16px;
}

#ljyy > .container > p > i {
    font-size: 20px;
}

#ljyy > .container > .pull-left > span {
    color: #E9232C;
}

#ljyy > .container > .pull-left > a {
    color: #E9232C;
    border-bottom: 1px dashed #E9232C;
    text-decoration: none;
}

#ljyy > .container > .pull-right > a {
    color: #333;
    text-decoration: none;
}

#ljyy > .container > .pull-right > a:hover {
    color: #E9232C;
}

/**
*产品推荐
*/
#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products > .container >.touch-scroll > .nav-tabs {
    padding-left: 20px;
}

#products > .container >.touch-scroll > .nav-tabs > li > a {
    font-size: 16px;
    color: #333;
}

#products > .container >.touch-scroll > .nav-tabs > li > a:hover {

    border-color: transparent;
    background-color: transparent;
    color: #222;
}

#products > .container >.touch-scroll > .nav-tabs > li.active > a {
    background-color: transparent;
    border: none;
    border-bottom: 6px solid #E92322;
}

/**
*新闻
*/

#news{
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}
#news .news-title{
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px dashed #c0c0c0;
    position: relative;
    margin-right: 10px;
}
#news .news-title::after{
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    position: absolute;
    bottom: -5px;
    right: -10px;
}
#news .nav-pills > li > a {
    background-color: #f5f5f5;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    /* margin-right: 20px; */
    margin-bottom: 20px;
}
#news .nav-pills > li.active > a{
    background-color: #e9232c;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #e9232c;
}
@media (max-width: 768px) {
    #news .nav-stacked >li{
        float: left;
        margin-right: 20px;
    }
}
/**
*合作伙伴
*/
#hzhb{
    padding: 50px 0;
}
.partner-list{
    list-style: none;
    padding: 0;
    font-size: 0;
}
.partner-list > li {
    display: inline-block;
    width: calc(100% / 9);
    font-size: 50px;
    line-height: 1;
    text-align: center;
}

.partner-list > li + li {
    border-left: 1px dashed #c0c0c0;
    color: #ddd;
}

.partner-list > li > a {
    color: #999;
    text-decoration: none;
}
.icon-uniE92A:hover {
    color: #159f69;
}

.icon-uniE92A:before {
    content: "\e92a";
}

.icon-uniE929:hover {
    color: #07569e;
}

.icon-uniE929:before {
    content: "\e929";
}

.icon-uniE931:hover {
    color: #004098;
}

.icon-uniE931:before {
    content: "\e931";
}

.icon-uniE92C:hover {
    color: #d32019;
}

.icon-uniE92C:before {
    content: "\e92c";
}

.icon-uniE92B:hover {
    color: #3eac4a;
}

.icon-uniE92B:before {
    content: "\e92b";
}

.icon-uniE92D:hover {
    color: #2bb289;
}

.icon-uniE92D:before {
    content: "\e92d";
}

/**
*脚注部分
*/
#footer {
    height: 100px;
}

/**
 * Bootstrap扩展
 */

#products .tab-content {
}

#products .tab-content .tab-pane {
    margin-top: 20px;
}

.panel-product {
    border-color: #fff;
    border-radius: 0;
    padding: 0;
    background-color: #fff;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px #c0c0c0;
    color: #555;
}

.panel-product.active {
    background-color: #e9232c;
    border-color: #e9232c;
    color: #fff;
    position: relative;
}

.panel-product.active::before {
    content: "\e915";
    position: absolute;
    font-family: weijinsuo;
    color: #fff;
    font-size: 33px;
    font-weight: 100;
    top: -8px;
    left: -1px;
}

.panel-product.state-1,
.panel-product.state-2,
.panel-product.state-3,
.panel-product.state-4 {
    background-color: #e0e0e0;
}

.panel-product.state-1::after,
.panel-product.state-2::after,
.panel-product.state-3::after,
.panel-product.state-4::after {
    font-family: weijinsuo;
    font-size: 100px;
    color: #e9232c;
    position: absolute;
    top: 10px;
    right: 130px;
}

.panel-product.state-1::after {
    content: "\e925";
}

.panel-product.state-2::after {
    content: "\e926";
}

.panel-product.state-3::after {
    content: "\e927";
}

.panel-product.state-4::after {
    content: "\e928";
}

.panel-product .panel-heading {
    height: 150px;
    float: right;
    width: 120px;
    padding: 45px 0 35px;
    text-align: center;
    border-left: 1px dashed #c0c0c0;
    position: relative;
}

.panel-product .panel-heading .tooltips {
    width: 100%;
    height: 18px;
    top: 20px;
    position: absolute;
}

.panel-product .panel-heading .tooltips span {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    padding: 2px;
}

.panel-product .panel-heading .tooltips span.primary {
    border-color: #e9232c;
    color: #e9232c;
}

.panel-product .panel-heading .tooltips span.secondary {
    border-color: #399;
    color: #399;
}

.panel-product .panel-heading .tooltips span.tertiary {
    border-color: #ccc;
    color: #ccc;
}

.panel-product .panel-heading strong {
    color: #e9232c;
    font-size: 36px
}

.panel-product.active .panel-heading strong,
.panel-product.active .panel-heading sub {
    color: #fff;
}

.panel-product .panel-heading::before {
    background-color: #f0f0f0;
    border-radius: 7px;
    content: ' ';
    display: block;
    height: 14px;
    position: absolute;
    top: -7px;
    left: -7px;
    width: 14px;
}

.panel-product .panel-heading::after {
    background-color: #f0f0f0;
    border-radius: 7px;
    content: ' ';
    display: block;
    height: 14px;
    position: absolute;
    bottom: -7px;
    left: -7px;
    width: 14px;
    box-shadow: 0 2px 2px #c0c0c0 inset;
}

.panel-product .panel-heading sub {
    color: #e9232c;
}

.panel-product .panel-heading span {
    font-size: 10px
}

.panel-product .panel-body {
    height: 150px;
    margin-right: 120px;
}

.panel-product .panel-body h5 {
    font-size: 16px;
    margin-top: 0;
}

.panel-product .panel-body dt {
    font-size: 10px;
    color: #c0c0c0;
}

.panel-product .panel-body dd {
    font-size: 16px;
    margin-bottom: 5px;
}

.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast .badge {
    color: #E92322;
    background-color: #ffffff;
}

.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    margin-bottom: 0;
    top: 0;
    width: 100%;
}

.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
    font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}
